@model List<MCC.Models.CityAndHotelsModel>
@{
    ViewBag.Title = "City & Hotels";
}
@helper RenderHeaderItem(string title, string field)
    {
    <th>
        <a href="#" ng-click="sortType = '@field'; sortReverse = !sortReverse">
            @Html.Translate(title, "CityAndHotels")
            <span ng-show="sortType === '@field' && !sortReverse" class="caret"></span>
            <span ng-show="sortType === '@field' && sortReverse" class="dropup"><span class="caret"></span></span>
        </a>
    </th>
}
@helper Translate(string field)
{
    @Html.Translate(field, "CityAndHotels")
}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
@Scripts.Render("~/bundles/angular-" +System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToLower())
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
    /* Styles go here */

    .my-controller {
        border: 1px solid #fcc;
        padding: 5px;
        margin: 3px;
    }

        .my-controller small {
            color: #c99;
        }

    .other-controller {
        border: 1px solid #ccf;
        padding: 5px;
        margin: 3px;
    }

        .other-controller small {
            color: #99c;
        }

    .third-controller {
        border: 1px solid #cfc;
        padding: 5px;
        margin: 3px;
    }

        .third-controller small {
            color: #9c9;
        }
</style>

<script>
    angular.module('myApp', ['angularUtils.directives.dirPagination'])
    .controller("OtherController", function OtherController($scope) {

    })
    .controller("MainController", function($scope) {
        $scope.sortType = ''; // set the default sort type
        $scope.sortReverse = false;  // set the default sort order
        $scope.searchHotel = '';     // set the default search/filter term
        $scope.feedbacks = @Html.Raw(@Model.AsJson());

    });
</script>

<script src="~/Scripts/dirPagination.js"></script>
<div class="container white-container main-content"  ng-app="myApp"  ng-controller="MainController">
    <h1>@Translate("CityAndHotels")</h1>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" class="form-control" placeholder="@MCC.Domain.TranslationRepository.GetLabel("CityAndHotels", "SearchHotel")" ng-model="searchHotel">
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class='table table-hover table-striped feedback-table'>
            <thead>
                <tr>
                    @RenderHeaderItem("City", "b")
                    @RenderHeaderItem("HotelName", "c")
                    @RenderHeaderItem("State", "d")
                    @RenderHeaderItem("Country", "e")
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="i in feedbacks | orderBy:sortType:sortReverse | filter:searchHotel | itemsPerPage: 1000">
                    <td><a href='@Html.Link("/hotel")/{{ i.a }}'>{{ i.b }}</a></td>
                    <td>{{ i.c }}</td>
                    <td>{{ i.d }}</td>
                    <td>{{ i.e }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div ng-controller="OtherController">
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" template-url="~/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>


</div>